.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;

    @media screen and (max-width: 799px) {
      right: 10%;
      left: 10%;
      width: auto;
      position: fixed;
      padding: none;
      height: 440px;
    }

    .empty-cart {
      font-size: 18px;
      margin: 100px auto;
      @media screen and (max-width: 799px) {
        font-size: 26px;
      }
    }
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      @media screen and (max-width: 799px) {
        font-size: 22px;
        height: 340px;
      }
    }
  
    button {
      margin-top: auto;
    }
  }
  