.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
      margin-right: auto;
      cursor: pointer;
    }
  
    .preview-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 14px;
      @media screen and (max-width: 799px){
        overflow: scroll;
      }
    }

  }